* {
  margin: 0%;
  box-sizing: border-box;
}

body {
  background-color: rgb(250, 220, 220);
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  gap: 20px;
  place-content: center;
  margin-top: 2rem;
}
article {
  border: 2px solid black;
  padding: 1em;
}

img {
  aspect-ratio: 1/1;
  max-width: 100%;
  object-fit: contain;
}

.valgt {
  border: 2px solid rgb(250, 220, 220);
  background-color: rgb(250, 220, 220);
  padding: 0.2rem;
}

header {
  background-color: orange;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  position: sticky;
  top: 0;

  z-index: 100;
}

h1 {
  font-family: "Playfair Display SC", serif;
  font-size: clamp(3rem, 6vw + 1rem, 4.5rem);
  color: rgb(250, 220, 220);
}

nav button {
  border: 2px solid rgb(250, 220, 220);
  background-color: orange;
  padding: 0.2rem;
  font-size: 1.2rem;
  margin-top: 1.6rem;
}

nav button:hover {
  font-size: 1.5rem;
}

h2 {
  text-align: center;
  margin-top: 2rem;
  font-size: 2rem;
}
